* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  height: 100vh;
}
.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}
.overlay h1{
  color: #fff;
}
.show {
  display: flex;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.slider {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.gallery img {
  width: 600px;
  border-radius: 25px;
}
.next, .prev {
  font-size: 30px;
  margin: 0 15px;
}
i.active {
  color: lime;
}
nav i {
  font-size: 18px;
  color: darkgreen;
  padding: 0 3px;
}
